<div class="main overflow-y-auto h-screen" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
    <div class="navbar-container fixed top-0 left-0 w-full z-50">
        <app-navbar></app-navbar>
    </div>

    <div class="main-content flex flex-row mt-16 h-screen">
        <div class="sidebar-container h-screen">
            <app-sidebar *ngIf="!isSidebarHidden"></app-sidebar>
        </div>

        <button id="toggle-sidebar-button" class="fixed left-0 bottom-4 p-2 bg-sky-900 text-white rounded-r-full shadow-md" *ngIf="isSidebarHidden" (click)="showSidebar()">
          <i class="fas fa-solid fa-angle-right"></i>
        </button>

        <div class="content-container flex w-full max-h-screen will-change">
            <div class="content flex will-change w-full">
                <div class="left-menu bg-white flex flex-col xl:justify-between lg:justify-between md:justify-between sm:justify-center items-center xl:w-1/4 lg:w-1/4 md:w-1/4 sm:w-full xl:p-4 lg:p-4 md:p-2 p-2 pb-0 will-change" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                    <div class="left-menu-main w-full flex flex-col">
                        <div class="bg-white w-full">
                            <div class="left-menu-container" *ngIf="!isMobile" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                <p class="left-list font-semibold text-gray-400 pb-3">Dashboards</p>
                                <ul class="left-list list-disc list-none font-semibold">
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">Messages</li>
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">
                                        <span class="flex flex-row items-center justify-between">
                                            <p class="md:mr-2">Notification</p>
                                            <i class="rounded-full bg-cyan-500 p-2 w-5 h-5 flex items-center justify-center text-sm">4</i>
                                        </span>
                                    </li>
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">Friends</li>
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">Calendar</li>
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">Users</li>
                                    <li class="p-2 rounded-md cursor-pointer hover:bg-gray-200 hover:text-sky-900">Top Charts</li>
                                </ul>
                            </div>
                            
                            <div class="relative text-left" *ngIf="isMobile" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                <div>
                                  <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 mb-3" id="menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleDropdown()">
                                    Dashboards
                                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                    </svg>
                                  </button>
                                </div>
                              
                                <div class="absolute right-0 z-10 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none w-full" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" *ngIf="dropdownVisible">
                                  <div class="py-1 w-full" role="none">
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-0">Messages</a>
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-1">Notification</a>
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-2">Friends</a>
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-2">Calendar</a>
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-2">Users</a>
                                    <a routerLink="" class="text-gray-700 block px-4 py-2 text-sm text-center" role="menuitem" tabindex="-1" id="menu-item-2">Top Charts</a>
                                  </div>
                                </div>
                            </div>
                              
                        </div>
    
                        <div class="bg-white w-full overflow-y-auto max-h-full will-change" *ngIf="!isMobile" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                            <p class="left-list font-semibold text-gray-400 py-4">Contacts</p>
                            <ul role="list" class="divide-y divide-gray-100 overflow-y-auto" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                <li routerLink="" class="flex justify-left gap-x-2 p-2 border-none rounded-md hover:bg-gray-200 hover:text-sky-900 items-center text-left cursor-pointer" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="flex gap-x-4">
                                      <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    </div>
                                    <div class="sm:flex sm:flex-col sm:items-end items-center">
                                      <p class="text-sm leading-6">Co-Founder</p>
                                    </div>
                                </li>
    
                                <li routerLink="" class="flex justify-left gap-x-2 p-2 border-none rounded-md hover:bg-gray-200 items-center text-left cursor-pointer hover:bg-gray-200 hover:text-sky-900" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="flex gap-x-4">
                                      <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    </div>
                                    <div class="sm:flex sm:flex-col sm:items-end items-center">
                                      <p class="text-sm leading-6">Co-Founder</p>
                                    </div>
                                </li>

                                <li routerLink="" class="flex justify-left gap-x-2 p-2 border-none rounded-md items-center text-left cursor-pointer hover:bg-gray-200 hover:text-sky-900" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                  <div class="flex gap-x-4">
                                    <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                  </div>
                                  <div class="sm:flex sm:flex-col sm:items-end items-center">
                                    <p class="text-sm leading-6">Co-Founder</p>
                                  </div>
                                </li>
                            </ul>
                        </div>
    
                        <div class="relative text-left w-full" *ngIf="isMobile" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                            <div>
                              <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleDropdownContacts()">
                                Contacts
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </div>
                          
                            <div class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none w-full" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" *ngIf="dropdownVisibleContacts">
                              <div class="py-1 w-full" role="none">
                                <ul role="list" class="divide-y divide-gray-100">
                                    <li routerLink="" class="flex justify-left gap-x-2 py-3 px-3 items-center cursor-pointer w-full">
                                      <div class="flex gap-x-4">
                                        <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                      </div>
                                      <div class="sm:flex sm:flex-col sm:items-end items-center w-full">
                                        <p class="text-sm leading-6 text-gray-900 w-full">Co-Founder</p>
                                      </div>
                                    </li>
        
                                    <li routerLink="" class="flex justify-left gap-x-2 py-3 px-3 items-center text-left cursor-pointer">
                                        <div class="flex gap-x-4">
                                          <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                        </div>
                                        <div class="sm:flex sm:flex-col sm:items-end items-center">
                                          <p class="text-sm leading-6 text-gray-900">Co-Founder</p>
                                        </div>
                                    </li>
        
                                    <li routerLink="" class="flex justify-left gap-x-2 py-3 px-3 items-center text-left cursor-pointer">
                                        <div class="flex gap-x-4">
                                          <img class="h-8 w-8 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                        </div>
                                        <div class="sm:flex sm:flex-col sm:items-end items-center">
                                          <p class="text-sm leading-6 text-gray-900">Co-Founder</p>
                                        </div>
                                    </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white flex flex-row w-full will-change" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                        <ul class="list-disc list-none flex flex-row justify-around w-full items-center xl:py-2 lg:py-2 md:pt-2 md:pb-2 sm:py-2 py-2" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                            <li class="cursor-pointer hover:bg-gray-200 hover:text-sky-900 w-8 h-8 rounded-full flex items-center justify-center"><i class="fas fa-solid fa-users"></i></li>
                            <li class="cursor-pointer hover:bg-gray-200 hover:text-sky-900 w-8 h-8 rounded-full flex items-center justify-center"><i class="fas fa-solid fa-comments"></i></li>
                            <li class="cursor-pointer hover:bg-gray-200 hover:text-sky-900 w-8 h-8 rounded-full flex items-center justify-center"><i class="fas fa-solid fa-envelope"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="right-content h-screen w-full text-center p-2 will-change m-0">
                    <div class="right-content-container flex flex-col justify-center items-center">
                        <div class="first-row flex bg-transparent justify-around items-center w-full rounded-md m-1 md:p-1 xl:p-4 lg:p-4 sm:p-1">
                            <div class="title xl:mr-2 lg:mr-2 md:mr-2 xl:mb-0 lg:mb-0 md:mb-2 mb-2">
                                <span class="flex flex-row items-center justify-center font-semibold">
                                    <i class="fas fa-solid fa-table pr-2"></i>
                                    <p class="text-2xl">Dashboard</p>
                                </span>  
                            </div>

                            <div class="calendar-blocks xl:mr-2 lg:mr-2 md:mr-2 xl:mb-0 lg:mb-0 md:mb-2 mb-2">
                                <ul class="flex flex-row items-center justify-center rounded-3xl border-gray-500 border text-sm px-2 py-2 w-full h-full">
                                    <li class="px-2 cursor-pointer">
                                        <p>Today</p>
                                    </li>
                                    <li class="border-l border-gray-500 px-2 cursor-pointer">
                                        <p>Week</p>
                                    </li>
                                    <li class="border-l border-gray-500 px-2 cursor-pointer">
                                        <p>Month</p>
                                    </li>
                                    <li class="border-l border-gray-500 px-2 cursor-pointer">
                                        <p>Quarter</p>
                                    </li>
                                    <li class="border-l border-gray-500 px-2 cursor-pointer">
                                        <p>Year</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="calendar-period xl:mr-2 lg:mr-2 md:mr-2 xl:mb-0 lg:mb-0 md:mb-2 mb-2">
                                <span class="flex flex-row items-center justify-center text-sm">
                                    <i class="fas fa-regular fa-calendar pr-2"></i>
                                    <p>24 Mar - 23 April 2019</p>
                                </span> 
                            </div>

                            <div class="button-add-widget flex flex-row items-center justify-center xl:mb-0 lg:mb-0 md:mb-2 mb-2">
                              <button class="rounded-3xl border-gray-500 hover:bg-gray-200 hover:text-sky-900 border text-sm px-4 py-2">
                                <i class="fas fa-solid fa-plus text-xs"></i>
                                Add Widget
                              </button>
                            </div>
                        </div>

                        <div class="second-row flex bg-transparent justify-center items-center w-full rounded-md m-1" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                            <div class="w-full grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4 font-semibold" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>Clicks</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        670
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-up text-green-700"></i>
                                        169,1%
                                    </div>
                                </div>
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>Impressions</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        1,245
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-up text-green-700"></i>
                                        285,8%
                                    </div>
                                </div>
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>CTR</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        21,0%
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-up text-green-700"></i>
                                        89,1%
                                    </div>
                                </div>
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>Click Conversions</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        32
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-down text-red-700"></i>
                                        -81,2%
                                    </div>
                                </div>
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>View Conversions</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        22
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-down text-red-700"></i>
                                        -75,0%
                                    </div>
                                </div>
                                <div class="card bg-white p-3 w-full rounded-lg flex flex-col items-center justify-between" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                    <div class="topic">
                                        <p>Total Conversions</p>
                                    </div>
                                    <div class="topic-data text-4xl">
                                        250
                                    </div>
                                    <div class="topic-percentage">
                                        <i class="fas fa-solid fa-angle-up text-green-700"></i>
                                        90,1%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="third-row flex flex-col bg-white justify-center items-center w-full rounded-md my-2 p-3" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">

                            <div class="header-container flex flex-row items-center justify-between w-full mb-4">
                                <h2 class="text-lg font-semibold text-left w-full">Double Click Campaing Stats</h2>
                                <div class="relative inline-block text-left">
                                    <div>
                                      <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleDropdownChartMenu()">
                                        <i class="fas fa-solid fa-angle-down"></i>
                                      </button>
                                    </div>
                                  
                                    <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" *ngIf="dropdownVisibleChartMenu">
                                      <div class="py-1" role="none">
                                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
                                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
                                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chart w-full pl-7 pr-3 py-3 relative">

                              <div class="flex flex-col">
                                <div class="flex items-center justify-around">
                                    <div class="flex flex-row items-center justify-center">
                                        <div class="w-4 h-4 bg-purple-400 rounded-full mr-2"></div>
                                        <span>Click Rate</span>
                                    </div>
                                    <div class="flex flex-row items-center justify-center">
                                        <div class="w-4 h-4 bg-gray-400 rounded-full mr-2"></div>
                                        <span>Impressions</span>
                                    </div> 
                                </div>
                                <div class="flex items-end mt-4 w-full flex flex-row justify-around items-end relative">

                                    <div class="w-4 h-24 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-14 rounded-t bg-gray-400 mr-2"></div>
                                    <div class="w-4 h-12 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-4 rounded-t bg-gray-400 mr-2"></div>
                                    <div class="w-4 h-16 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-8 rounded-t bg-gray-400 mr-2"></div>
                                    <div class="w-4 h-14 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-6 rounded-t bg-gray-400"></div>
                                    <div class="w-4 h-4 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-16 rounded-t bg-gray-400 mr-2"></div>
                                    <div class="w-4 h-8 rounded-t bg-purple-400 mr-2"></div>
                                    <div class="w-4 h-20 rounded-t bg-gray-400 mr-2"></div>
                                    <div class="w-4 h-6 rounded-t bg-purple-400"></div>


                                    <div class="absolute bottom-0 left-0 w-full h-1 bg-gray-300 rounded-full"></div>

                                        <div class="w-1 h-full bg-gray-300 rounded-full absolute left-0 top-0"></div>
                                        <div class="w-full h-1 bg-gray-300 rounded-full absolute left-0 bottom-0"></div>
                                  
                                        <!-- Datos del eje x -->
                                        <div class="absolute bottom-0 left-0 flex justify-between w-full px-1 text-xs text-gray-500 font-semibold">

                                            <span class="relative top-4">0%</span>
                                            <span class="relative top-4">50%</span>
                                            <span class="relative top-4">100%</span>
                                            <span class="relative top-4">150%</span>
                                            <span class="relative top-4">200%</span>

                                        </div>
                                  
                                        <!-- Datos del eje y -->
                                        <div class="absolute top-0 left-0 flex flex-col justify-between h-full px-2 text-xs text-gray-500 font-semibold text-right">

                                            <span class="relative top-0 -left-9">200</span>
                                            <span class="relative -left-9">150</span>
                                            <span class="relative -left-9">100</span>
                                            <span class="relative -left-9">50</span>
                                            <span class="relative bottom-0 -left-9">0</span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                          
                        <div class="fourth-row flex justify-center items-center w-full rounded-md m-1 mb-2" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">

                            <div class="tables flex flex-col xl:flex-row lg:flex-col md:flex-col sm:flex-col w-full" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">

                                <div class="first-table flex justify-between items-center bg-white p-3 pt-0 rounded-md xl:mr-2 lg:mr-0 md:mb-2 sm:mb-2 w-full overflow-x-auto lg:overflow-x-visible" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">

                                  <table class="w-full table-auto" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                    <thead [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                      <tr>
                                        <th class="border-b-2 border-gray-300 p-4 pl-0 h-20 min-h-full">Channel</th>
                                        <th class="border-b-2 border-gray-300 p-4 h-20 min-h-full">Sessions</th>
                                        <th class="border-b-2 border-gray-300 p-4 h-20 min-h-full">% of Traffic</th>
                                        <th class="border-b-2 border-gray-300 p-4 h-20 min-h-full">Goal Rate</th>
                                        <th class="border-b-2 border-gray-300 p-4 h-20 min-h-full">Goals</th>
                                        <th class="border-b-2 border-gray-300 p-4 pr-0 text-right h-20 min-h-full">
                                            <div class="relative inline-block text-left">
                                                <div>
                                                  <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleDropdownFirstTableMenu()">
                                                    <i class="fas fa-solid fa-angle-down"></i>
                                                  </button>
                                                </div>
                                              
                                                <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" *ngIf="dropdownVisibleFirstTableMenu">
                                                  <div class="py-1 font-normal" role="none">
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                                                  </div>
                                                </div>
                                            </div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="font-semibold text-gray-600" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Direct</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">3,397</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">65,9%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">3,5%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">118</td>
                                        <td class="progress-bar border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <div class="relative h-1 bg-gray-200 rounded-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 33%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Email</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">808</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">15,7%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">1,9%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">15</td>
                                        <td class="progress-bar border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <div class="relative h-1 bg-gray-200 rounded-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 64%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Organic Search</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">430</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">8,3%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">0,2%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">1</td>
                                        <td class="progress-bar border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <div class="relative h-1 bg-gray-200 rounded-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 50%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Paid Search</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">194</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">2,1%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">0,2%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">5</td>
                                        <td class="progress-bar border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <div class="relative h-1 bg-gray-200 rounded-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 74%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Referral</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">108</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">1,0%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">2,4%</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">7</td>
                                        <td class="progress-bar border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <div class="relative h-1 bg-gray-200 rounded-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 37%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>

                                  </table>
                                    
                                </div>

                                <div class="second-table flex justify-between items-center bg-white p-3 pt-0 rounded-md h-fit xl:mr-0 md:mb-2 sm:mb-2 lg:mt-0 lg:mr-0 md:mt-1 sm:mt-2 w-full" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">

                                  <table class="w-full" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                    <thead [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <tr [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                          <th class="border-b-2 border-gray-300 p-4 h-20 min-h-full">Top Cities</th>
                                          <th class="border-b-2 border-gray-300 p-4 pr-0 text-right h-20 min-h-full">
                                            <div class="relative inline-block text-left">
                                                <div>
                                                  <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleDropdownSecondTableMenu()">
                                                    <i class="fas fa-solid fa-angle-down"></i>
                                                  </button>
                                                </div>
                                              
                                                <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" *ngIf="dropdownVisibleSecondTableMenu">
                                                  <div class="py-1 font-normal" role="none">
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                                                  </div>
                                                </div>
                                            </div>
                                          </th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-semibold text-gray-600" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">City</td>
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Customers</td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Otawa</td>
                                        <td class="border-b border-gray-300 p-4 flex flex-row items-center justify-left" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <p class="mr-7 w-1/4">106</p>
                                            <div class="relative h-1 bg-gray-200 rounded-full w-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 37%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Toronto</td>
                                        <td class="border-b border-gray-300 p-4 flex flex-row items-center justify-left" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <p class="mr-7 w-1/4">55</p>
                                            <div class="relative h-1 bg-gray-200 rounded-full w-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 82%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">New York</td>
                                        <td class="border-b border-gray-300 p-4 flex flex-row items-center justify-left" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <p class="mr-7 w-1/4">54</p>
                                            <div class="relative h-1 bg-gray-200 rounded-full w-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 22%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
                                        <td class="border-b border-gray-300 p-4" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">Calgary</td>
                                        <td class="border-b border-gray-300 p-4 flex flex-row items-center justify-left" [ngClass]="themeService.isDarkTheme ? 'bg-neutral-700' : 'bg-white'">
                                            <p class="mr-7 w-1/4">7</p>
                                            <div class="relative h-1 bg-gray-200 rounded-full w-full">
                                                <div class="absolute top-0 left-0 h-full bg-purple-400 rounded-full" style="width: 12%;"></div>
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>