@media only screen and (min-width: 320px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .left-list {
        text-align: center;
        justify-content: center;
    }

    .first-row {
        flex-direction: column;
    }
}

@media only screen and (min-width: 320px) and (max-width: 641px) {
    .second-table {
        margin-top: .7rem;
    }
}

@media only screen and (min-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: row;
    }

    .content {
        flex-direction: row;
    }

    .left-list {
        text-align: left;
    }

    .left-menu {
        max-width: 15rem;
    }
}

@media only screen and (min-width: 961px) {
    .first-row {
        flex-direction: row;
    }
}

.card {
    min-height: 12rem;
    min-width: 10rem;
}

@media only screen and (min-width: 768px) {
    .left-menu {
        height: 100vh;
        border-bottom-right-radius: 0.5rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {
    .progress-bar {
        min-width: 5rem;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .progress-bar {
        min-width: 7rem;
    }
}
