<nav class="navbar h-16 bg-white bg-opacity-50 backdrop-filter backdrop-blur-lg will-change p-0 m-0 w-full" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
    <div class="px-4">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center p-2 text-gray-400 hover:bg-white hover:text-gray-700 focus:ring-2 focus:ring-inset focus:ring-white bg-white rounded-full hover:rounded-full focus:rounded-full focus:ring-gray-700 focus:ring-white w-8 h-8" aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMenu()">
            <span class="sr-only">Open main menu</span>
            <i class="fas fa-solid fa-bars text-gray-700"></i>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-8" src="/assets/png logo.png" *ngIf="themeService.isDarkTheme" alt="Fourvenues Logo">
            <img class="block h-8 w-8" src="/assets/png negro.png" *ngIf="!themeService.isDarkTheme" alt="Fourvenues Logo">
          </div>

          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 min-w-max" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
              <a routerLink="" class="bg-sky-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
              <a routerLink="" class="text-gray-500 hover:bg-gray-200 hover:text-sky-900 rounded-md px-3 py-2 text-sm font-medium">Popular</a>
              <a routerLink="" class="text-gray-500 hover:bg-gray-200 hover:text-sky-900 rounded-md px-3 py-2 text-sm font-medium">For You</a>
              <a routerLink="" class="text-gray-500 hover:bg-gray-200 hover:text-sky-900 rounded-md px-3 py-2 text-sm font-medium">Messages</a>
            </div>
          </div>
        </div>

        <div class="hidden xl:flex lg:flex items-center justify-center flex-1 ml-10" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
          <input type="text" placeholder="Search messages" class="flex border focus:border-transparent border-gray-200 h-10 px-5 rounded-full text-sm focus:ring-gray-700 focus:outline-none w-full items-center justify-left" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
        </div>

        <div class="right-menu absolute inset-y-0 right-0 flex items-center sm:static sm:inset-auto sm:pr-0 justify-end">

          <button type="button" class="notification-button h-8 w-8 flex items-center justify-center rounded-full bg-white ml-2 p-1 text-gray-400 hover:text-white">
            <span class="sr-only">View notifications</span>
            <i class="fas fa-solid fa-bell text-gray-700"></i>
          </button>

          <button class="toggle-theme-button h-8 w-8 flex items-center justify-center rounded-full bg-white p-1 ml-2 text-gray-400 hover:text-white" (click)="themeService.toggleTheme()">
            <span class="sr-only">Toggle Theme</span>
            <i [ngClass]="themeService.isDarkTheme ? 'fas fa-solid fa-sun text-gray-700' : 'fas fa-solid fa-moon text-gray-700'"></i>
          </button>
  
          <!-- Profile dropdown -->
          <div class="relative ml-3" *ngIf="randomUser">
            <div>
              <button type="button" class="flex flex-row items-center justify-center rounded-full bg-transparent text-sm focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleUserMenu()">
                <span class="bg-transparent mr-2 flex flex-col">{{ randomUser.name?.first }}<br>{{ randomUser.name?.last }}</span>
                <div class="user-image-container" (click)="getRandomUser()">
                  <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
              </button>
            </div>

            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" [ngClass]="{'block': isUserMenuOpen, 'hidden': !isUserMenuOpen}">
              <a routerLink="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
              <a routerLink="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
              <a routerLink="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" class="space-y-1 p-3 bg-sky-950 relative" [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}">
      <div class="space-y-1 px-2">
        <a routerLink="" class="bg-sky-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
        <a routerLink="" class="text-gray-400 hover:bg-gray-200 hover:text-sky-900 block rounded-md px-3 py-2 text-base font-medium">Popular</a>
        <a routerLink="" class="text-gray-400 hover:bg-gray-200 hover:text-sky-900 block rounded-md px-3 py-2 text-base font-medium">For You</a>
        <a routerLink="" class="text-gray-400 hover:bg-gray-200 hover:text-sky-900 block rounded-md px-3 py-2 text-base font-medium">Messages</a>
      </div>
    </div>
</nav>