.navbar { 
    backface-visibility: hidden;     
}

@media only screen and (min-width: 320px) and (max-width:520px) {
    .notification-button {
        display: none;
    } 
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    .toggle-theme-button {
        display: none;
    }
}

.right-menu {
    min-width: 11rem;
}