<div class="bg-sky-950 xl:w-16 lg:w-16 md:w-16 sm:w-full xl:h-screen lg:h-screen md:h-screen sm:h-auto sm:w-full" [ngClass]="{'hidden': !sidebarVisible}" [ngClass]="{ 'theme-dark': themeService.isDarkTheme }">
    <div class="flex xl:flex-col lg:flex-row md:flex-row justify-center items-center sm:flex-row sm:w-full sm:h-auto justify-center items-center">
        <ul class="sidebar-transition p-4 flex xl:flex-col lg:flex-row md:flex-row justify-center items-center transition-all duration-400 sm:flex-row sm:h-auto sm:w-full flex-wrap gap-4" style="width: 100%; justify-content: space-around;">
            <li class="sidebar-button xl:mb-7 lg:mb-7 md:mb-7 justify-center items-center">
                <button class="bg-sky-900 p-2 rounded-full flex justify-center items-center h-8 w-8" (click)="hideSidebar()"><i class="fas fa-solid fa-angle-left text-white"></i></button>
            </li>
    
            <li class="xl:mb-7 lg:mb-7 md:mb-7 justify-center items-center cursor-pointer flex justify-center items-center xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content1')">
                <i class="fas fa-solid fa-home text-white"></i> 
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-grip-vertical text-white"></i>
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-comments text-white"></i>
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-calendar text-white"></i>
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-user text-white"></i>
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-users text-white"></i>
            </li>
            <li class="xl:mb-7 lg:mb-7 md:mb-7 flex justify-center items-center cursor-pointer xl:h-8 xl:w-8 lg:h-8 lg:w-8 hover:bg-sky-900 rounded-full" (click)="showContent('content2')">
                <i class="fas fa-solid fa-image text-white"></i>
            </li>
        </ul>
    </div>
</div>
