@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 234, 234);
}

.theme-dark {
    background-color: #1c1c1c !important;
    color: white !important;
}
